.cards {
  width: 100%;
  //overflow-x: hidden;
  // transition: 0.3s;
  @media (min-width: 767px) {

  }
  @media (min-width: 1030px) {
    max-width: 940px;
  }
  margin: 60px auto;

  &--half-width {
    @media (min-width: 767px) {
      max-width: 560px;
    }
  }
  &__card {
    //transition: 0.5s;
    //float: left;
    width: 100%;
    height: 150px;
    background: rgba(255,255,255,0.7);
    margin-bottom: 5px;
    z-index: 22;
    @media (min-width: 600px) {
      width: calc(50% - 2.5px);
      height: 250px;
    }
    @media (min-width: 767px) {
      width: calc(25% - 5px);
    }
    @media (min-width: 1030px) {
      //  width: calc(25% - 5px);
    }




    &--full {
      width: 100%;
      mix-blend-mode: overlay;
      transform: rotateX(0.01deg);
      @media (min-width: 767px) {
        width: calc(100% - 5px);

      }
    }

    &--fat {
      width: 100%;
      mix-blend-mode: overlay;
      transform: rotateX(0.01deg);
      @media (min-width: 600px) {
        width: 100%;
      }
      @media (min-width: 767px) {
        width: calc(50% - 5px);
      }

      &-always {
        width: calc(50% - 5px);
      }
    }


    &--short{
      height: 165px;
    }

    &--shorter {
      height: 105px;
    }


    &__inputs {
      height: auto;
      mix-blend-mode: unset;
      &-container {
        position: relative;
        margin: 15px;
      }
      &-input {
        width: 100%;
        border: none;
        background: transparent;
        padding: 10px 5px 4px 0px;
        border-bottom: 2px solid #666;
        font-size: 18px;
        box-shadow: none;
        &:focus + label, &.active + label {
          transform: translateY(-16px) scale(0.6);
        }
        &:focus {
          border-bottom: 2px solid black;
        }
        &:invalid {
          border-bottom: 3px solid red;
        }
      }
      textarea {
        font-size: 16px;
      }
      label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 18px;
        cursor: text;
        -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
        transition: color .2s ease-out, -webkit-transform .2s ease-out;
        transition: transform .2s ease-out, color .2s ease-out;
        transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        text-align: initial;
        transform: translateY(8px);
      }
      button {
        width: 100%;
        border: 0;
        padding: 8px 4px;
        font-size: 22px;
        cursor: pointer;
        transition: 0.3s;
        color: #666;
        font-weight: bold;
        background: transparent;
        &:hover {
          color: black;
        }
      }
      &--mix {
        //mix-blend-mode: overlay;
      }
    }

    &--normal {
      display: none;
      @media (min-width: 767px) {
        height: 505px;
        display: block;
      }
    }

    &--tall {
      display: none;
      @media (min-width: 767px) {
        height: 760px;
        display: block;
      }
    }


    &-sizer {
      width: calc(50% - 2.5px);
      @media (min-width: 600px) {
        width: calc(50% - 2.5px);
      }
      @media (min-width: 767px) {
        width: calc(5% - 5px);
      }
    }

    &--content{
      mix-blend-mode: unset;
      padding: 0 20px;
      overflow-y: scroll;
      height: auto;

      @media (min-width: 767px) {
        height: 505px;
      }

      // TODO: Bem it

      &-auto {
        height: auto;
      }
    }
    &-link {
      color: #444;
      font-weight: bold;
      padding: 2px 2px;
      //border: 1px solid transparent;
      text-decoration: none;
      font-size: 14px;
      position: relative;
      display: inline-block;
      &:after{
        content: '';
        display: block;
        height: 2px;
        bottom: 3px;
        left: 50%;
        position: absolute;
        width: 90%;
        background: #444;
        transform: translateX(-50%);
        transition: 0.53s;
      }
      &:before {
        content: '';
        display: block;
        height: 2px;
        bottom: 3px;
        left: 50%;
        position: absolute;
        width: 81%;
        background: #444;
        transform: translateX(-50%);
        transition: 0.3s;
        transition-timing-function: ease-in;
      }
      &:hover:before {
        transform: translateX(-50%) translateY(6px);
      }
      &--alt {
        color: #444;
        font-weight: bold;
        &:before, &:after {
          display: none;
        }
      }
    }

    &-title {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      margin: 0;
      color: black;
      font-size: 2em;
      @media (min-width: 767px) {
        font-size: 3em;
      }
      &--big {
        font-size: 3em;
        @media (min-width: 500px) {
          font-size: 4em;
        }
        @media (min-width: 767px) {
          font-size: 3.7em;
        }
        @media (min-width: 1030px) {
          font-size: 4.7em;
        }
      }
      &--portfolio {
        flex-wrap: wrap;
        span {
          position: relative;
        }
        @media (min-width: 400px) {
          font-size: 2.5em;
        }
        @media (min-width: 600px) {
          font-size: 3.6em;
        }
        @media (min-width: 767px) {
          font-size: 3.7em;
        }
        @media (min-width: 1030px) {
          font-size: 4.7em;
        }
        sub {
          font-size: 80%;
          position: absolute;
          line-height: 1;
          display: block;
          word-break: normal;
          width: 100%;
          text-align: center;
          bottom: -35px;
          @media (min-width: 500px) {
            font-size: 30%;
            bottom: -15px;
            width: auto;
            right: 0;
          }
        }
        &-single {
          font-size: 2.5em;
          justify-content: flex-start;
          align-items: flex-end;
          margin-left: 10px;
        }
      }
    }

    &-image {
      mix-blend-mode: unset;
      &:after {
        content: '';
        background-image: url(../img/aylin.jpg);
        background-size: cover;
        background-position: center;
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        left: 5px;
        width: calc(100% - 10px);
        bottom: 5px;
        height: calc(100% - 10px);
        top: 5px;
        right: 5px;
        position: absolute;
      }
      &--portfolio-single {
        display: block;
        cursor: pointer;
        @media (max-width: 767px) {
          //display: block;
          //height: auto;
        }
        &:after {
          content: '';
          display: none;
        }
      }
      &--scarf{
        &:after {
          background-image: url(../img/portfolio/Scarf.jpg);
          filter: none;
          -ms-filter: "none";
          transform: scaleX(1);
          background-position: 15%;
        }
      }
      img {
        max-width: 100%;
        padding: 5px;
        display: block;
        display: none;
        @media (min-width: 767px) {
          display: none;
        }
      }
      &-single {
        z-index:33;
        background-image: url(../img/portfolio/Portf.jpg);
        background-size: cover;
        background-position: center;
        left: 5px;
        width: calc(100% - 10px);
        bottom: 5px;
        height: calc(100% - 10px);
        top: 5px;
        right: 5px;
        position: absolute;
      }
    }

    &-portfolio-item-name{
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      left: -5px;
      bottom: -5px;
      padding: 3px 20px 0px;
      color: #fff;
      font-size: 15px;
      letter-spacing: 1px;
    }
    &-item {
      perspective: 1000px;
      background: transparent;
      //transition: 0.3s;
      z-index: 2;
      //transform: scale(0);
      transform: scale3d();



      &-flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
        height: 100%;
        background: rgba(255,255,255,.7);
        will-change: transform;
      }

      &:hover,&:focus {
        //mix-blend-mode: overlay;
        mix-blend-mode: screen;
        //transform: scale(0.81);
        .cards__card-item-flipper {
          transform: rotateY(180deg) scale(0.81);
        }
        .cards__card-item-back-text {
          transform: scale(1);
        }
      }

      &--disabled {
        cursor: default;
      }
      &-front, &-back {
        backface-visibility: hidden;
        position: absolute;
        top: 5px;
        left: 5px;
      }
      &-front {
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        left: 5px;
        width: calc(100% - 10px);
        bottom: 5px;
        height: calc(100% - 10px);
        top: 5px;
        right: 5px;
        position: absolute;
        z-index: 2;
        //transform: rotateY(0deg);
        &--contain {
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      &-back {
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 10px);
        width: calc(100% - 10px);
        &-text {
          transform: scale(0.01);
          font-size: 32px;
          font-weight: 800;
          color: black;
          a {
            font-size: 16px;
            display: block;
          }
        }
      }
    }
    &--home {
        mix-blend-mode: screen;
      .cards__card-item-flipper {
        will-change: unset;
      }
      .cards__card-item-back {
        transform: none;
      }
      .cards__card-item-back-text {
        transform: none;
      }
      &:hover {
        .cards__card-item-flipper {
          transform: scale(0.9);
        }

      }
    }

  }

  &.cards--grid {
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: 1fr;
    grid-template-areas: "Heading" "Slider" "Portfolio1" "Portfolio2" "Portfolio3" "Portfolio4";
    @media (min-width: 767px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "Heading Heading Heading Heading" "Slider Slider Portfolio1 Portfolio2" "Slider Slider Portfolio3 Portfolio4";
    }
    grid-gap: 10px;

    .cards__card {
      position: relative;
      width: 100%;
      margin-bottom: 0;
    }


    .card--heading {
      grid-area: Heading;
    }
    .card--slider {
      grid-area: Slider;
      height: 100%;
      padding: 5px;
      display: none;
      @media (min-width: 767px) {
        display: block;
      }
    }


    @for $i from 1 through 4 {
      .card--portfolio-item-#{$i} {
        grid-area: Portfolio#{$i};
      }
    }

    .slick-list, .slick-track, .slick-slide > div {
      height: 100%;
    }

    .slider__image {
      background-size: cover;
      height: 100%;
      position: relative;
      .caption {
        position: absolute;
        background: rgba(0,0,0,.5);
        left: 0px;
        bottom: 0px;
        padding: 3px 20px 0;
        color: #fff;
        font-size: 15px;
        letter-spacing: 1px;
      }
    }

    .slick-next, .slick-prev {
      width: 45px;
      height: 35px;
      background: rgba(0,0,0,.5);
      bottom: 5px;
      transform: none;
      top: auto;
      &:before {
        content: '↼';
        font-family: poppins, helvetica, arial;
        font-size: 22px;
      }
    }
    .slick-prev {
      right: 55px;
      left: auto;
      z-index: 10;
    }
    .slick-next {
      right: 5px;
      &:before{
        content: '⇀';
        font-family: poppins, helvetica, arial;
        font-size: 22px;
      }
    }
  }

  &.cards--portfolio {
    max-width: 1140px;

    .image-area{
      @media (min-width: 767px) {
        grid-area: image;
      }
    }
    .content-area {
      @media (min-width: 767px) {
        grid-area: content;
      }
    }
    .portfolio-grid--1 {
      display: grid;
      grid-template-columns: 1fr;
      @media (min-width: 767px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "image image content";
      }

      grid-template-rows: auto;
      grid-gap: 10px;
      margin-top: 10px;

      .cards__card {
        max-height: 400px;
      }
    }
    .portfolio-grid--2 {
      display: grid;
      grid-template-columns: 1fr;
      @media (min-width: 767px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "content image image";
      }
      grid-template-rows: auto;
      grid-gap: 10px;
      margin-top: 10px;
      .cards__card {
        max-height: 400px;
      }
    }

    .portfolio-grid--3 {
      display: grid;
      grid-template-columns: 1fr;
      @media (min-width: 767px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "image1 image2 content";
      }
      grid-template-rows: auto;
      grid-gap: 10px;
      margin-top: 10px;
      .image-area {
        &:nth-of-type(1) {
          @media (min-width: 767px) {
            grid-area: image1;
          }
        }
        &:nth-of-type(2) {
          @media (min-width: 767px) {
            grid-area: image2;
          }
        }
      }
      .cards__card {
        max-height: 500px;
      }
    }

    .portfolio-grid--4 {
      display: grid;
      grid-template-columns: 1fr;
      @media (min-width: 767px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "content image1 image2";
      }
      grid-template-rows: auto;
      grid-gap: 10px;
      margin-top: 10px;
      .image-area {
        &:nth-of-type(1) {
          @media (min-width: 767px) {
            grid-area: image1;
          }
        }
        &:nth-of-type(2) {
          @media (min-width: 767px) {
            grid-area: image2;
          }
        }
      }
      .cards__card {
        max-height: 500px;
      }
    }

    .portfolio-grid--5 {
      display: grid;
      grid-template-columns: 1fr;
      @media (min-width: 767px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "image1 image1 image2";
      }
      grid-template-rows: auto;
      grid-gap: 10px;
      margin-top: 10px;
      .image-area {
        &:nth-of-type(1) {
          @media (min-width: 767px) {
            grid-area: image1;
          }
        }
        &:nth-of-type(2) {
          @media (min-width: 767px) {
            grid-area: image2;
          }
        }
      }
      .cards__card {
        max-height: 500px;
      }
    }

    .cards__card {
      position: relative;
      width: 100%;
      margin-bottom: 0;
      margin-top: 0;
      .caption {
        position: absolute;
        background: rgba(0,0,0,.5);
        left: 0;
        bottom: 0;
        padding: 3px 20px 0;
        color: #fff;
        font-size: 15px;
        letter-spacing: 1px;
      }
      &.video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      p {
        font-size: 16px;
      }
    }
  }
}






